body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
}


input:focus {
    border-color: transparent;
    transform: scale(1.05);
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background: orange;
    color: white;
    border: none;
    cursor: pointer;
    transition: background  0.3s ease;
}


button:hover {
    background: transparent;
    color: orange;
    border: 2px solid orange;
}